xml/employee_06/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="TU"/>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="employee" maxOccurs="unbounded">
            <xsd:sequence>
                <xsd:element name="post"/>
                <xsd:simpleType>
                    <xsd:restriction base="xs:integer">
                        <xsd:minLength value="5"/>
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>